.vs/WebTestApp/v16/Server/sqlite3/storage.ide-wal
.vs/WebTestApp/v16/Server/sqlite3/storage.ide-shm
.vs/WebTestApp/v16/Server/sqlite3/storage.ide
.vs/WebTestApp/v16/Server/sqlite3/db.lock
.vs/WebTestApp/v16/.suo
.vs/WebTestApp/config/applicationhost.config
WebTestApp/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
WebTestApp/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
WebTestApp/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
WebTestApp/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
WebTestApp/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/e_sqlite3.dll
WebTestApp/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
WebTestApp/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/e_sqlite3.dll
WebTestApp/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
WebTestApp/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/e_sqlite3.dll
WebTestApp/bin/Debug/netcoreapp3.1/runtimes/win-arm/native/e_sqlite3.dll
WebTestApp/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
WebTestApp/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
WebTestApp/bin/Debug/netcoreapp3.1/runtimes/osx-x64/native/libe_sqlite3.dylib
WebTestApp/bin/Debug/netcoreapp3.1/runtimes/linux-x86/native/libe_sqlite3.so
WebTestApp/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libe_sqlite3.so
WebTestApp/bin/Debug/netcoreapp3.1/runtimes/linux-musl-x64/native/libe_sqlite3.so
WebTestApp/bin/Debug/netcoreapp3.1/runtimes/linux-armel/native/libe_sqlite3.so
WebTestApp/bin/Debug/netcoreapp3.1/runtimes/linux-arm64/native/libe_sqlite3.so
WebTestApp/bin/Debug/netcoreapp3.1/runtimes/linux-arm/native/libe_sqlite3.so
WebTestApp/bin/Debug/netcoreapp3.1/runtimes/alpine-x64/native/libe_sqlite3.so
WebTestApp/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/dotnet-aspnet-codegenerator-design.dll
WebTestApp/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WebTestApp/bin/Debug/netcoreapp3.1/appsettings.json
WebTestApp/bin/Debug/netcoreapp3.1/appsettings.Development.json
WebTestApp/bin/Debug/netcoreapp3.1/WebTestApp.runtimeconfig.json
WebTestApp/bin/Debug/netcoreapp3.1/WebTestApp.runtimeconfig.dev.json
WebTestApp/bin/Debug/netcoreapp3.1/WebTestApp.pdb
WebTestApp/bin/Debug/netcoreapp3.1/WebTestApp.exe
WebTestApp/bin/Debug/netcoreapp3.1/WebTestApp.dll
WebTestApp/bin/Debug/netcoreapp3.1/WebTestApp.deps.json
WebTestApp/bin/Debug/netcoreapp3.1/WebTestApp.Views.pdb
WebTestApp/bin/Debug/netcoreapp3.1/WebTestApp.Views.dll
WebTestApp/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
WebTestApp/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
WebTestApp/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
WebTestApp/bin/Debug/netcoreapp3.1/System.Composition.TypedParts.dll
WebTestApp/bin/Debug/netcoreapp3.1/System.Composition.Runtime.dll
WebTestApp/bin/Debug/netcoreapp3.1/System.Composition.Hosting.dll
WebTestApp/bin/Debug/netcoreapp3.1/System.Composition.Convention.dll
WebTestApp/bin/Debug/netcoreapp3.1/System.Composition.AttributedModel.dll
WebTestApp/bin/Debug/netcoreapp3.1/SQLitePCLRaw.provider.dynamic_cdecl.dll
WebTestApp/bin/Debug/netcoreapp3.1/SQLitePCLRaw.nativelibrary.dll
WebTestApp/bin/Debug/netcoreapp3.1/SQLitePCLRaw.core.dll
WebTestApp/bin/Debug/netcoreapp3.1/SQLitePCLRaw.batteries_v2.dll
WebTestApp/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
WebTestApp/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
WebTestApp/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
WebTestApp/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
WebTestApp/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.dll
WebTestApp/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
WebTestApp/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
WebTestApp/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
WebTestApp/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
WebTestApp/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
WebTestApp/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
WebTestApp/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
WebTestApp/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
WebTestApp/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
WebTestApp/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
WebTestApp/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyModel.dll
WebTestApp/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
WebTestApp/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
WebTestApp/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
WebTestApp/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
WebTestApp/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
WebTestApp/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
WebTestApp/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
WebTestApp/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
WebTestApp/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Sqlite.dll
WebTestApp/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
WebTestApp/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
WebTestApp/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
WebTestApp/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
WebTestApp/bin/Debug/netcoreapp3.1/Microsoft.DotNet.PlatformAbstractions.dll
WebTestApp/bin/Debug/netcoreapp3.1/Microsoft.Data.Sqlite.dll
WebTestApp/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
WebTestApp/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.dll
WebTestApp/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Workspaces.dll
WebTestApp/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Razor.dll
WebTestApp/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.dll
WebTestApp/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
WebTestApp/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
WebTestApp/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
WebTestApp/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Razor.Language.dll
WebTestApp/obj/Debug/netcoreapp3.1/staticwebassets/WebTestApp.StaticWebAssets.Manifest.cache
WebTestApp/obj/Debug/netcoreapp3.1/WebTestApp.pdb
WebTestApp/obj/Debug/netcoreapp3.1/WebTestApp.exe
WebTestApp/obj/Debug/netcoreapp3.1/WebTestApp.dll
WebTestApp/obj/Debug/netcoreapp3.1/WebTestApp.csprojAssemblyReference.cache
WebTestApp/obj/Debug/netcoreapp3.1/WebTestApp.csproj.FileListAbsolute.txt
WebTestApp/obj/Debug/netcoreapp3.1/WebTestApp.csproj.CopyComplete
WebTestApp/obj/Debug/netcoreapp3.1/WebTestApp.assets.cache
WebTestApp/obj/Debug/netcoreapp3.1/WebTestApp.Views.pdb
WebTestApp/obj/Debug/netcoreapp3.1/WebTestApp.Views.dll
WebTestApp/obj/Debug/netcoreapp3.1/WebTestApp.TagHelpers.output.cache
WebTestApp/obj/Debug/netcoreapp3.1/WebTestApp.TagHelpers.input.cache
WebTestApp/obj/Debug/netcoreapp3.1/WebTestApp.RazorTargetAssemblyInfo.cs
WebTestApp/obj/Debug/netcoreapp3.1/WebTestApp.RazorTargetAssemblyInfo.cache
WebTestApp/obj/Debug/netcoreapp3.1/WebTestApp.RazorCoreGenerate.cache
WebTestApp/obj/Debug/netcoreapp3.1/WebTestApp.RazorAssemblyInfo.cs
WebTestApp/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
WebTestApp/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
WebTestApp/obj/Debug/netcoreapp3.1/Razor/Views/Home/Privacy.cshtml.g.cs
WebTestApp/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
WebTestApp/obj/Debug/netcoreapp3.1/Razor/Views/Customers/Index.cshtml.g.cs
WebTestApp/obj/Debug/netcoreapp3.1/Razor/Views/Customers/Edit.cshtml.g.cs
WebTestApp/obj/Debug/netcoreapp3.1/Razor/Views/Customers/Details.cshtml.g.cs
WebTestApp/obj/Debug/netcoreapp3.1/Razor/Views/Customers/Delete.cshtml.g.cs
WebTestApp/obj/Debug/netcoreapp3.1/Razor/Views/Customers/Create.cshtml.g.cs
WebTestApp/obj/Debug/netcoreapp3.1/Razor/Views/Countries/Index.cshtml.g.cs
WebTestApp/obj/Debug/netcoreapp3.1/Razor/Views/Countries/Edit.cshtml.g.cs
WebTestApp/obj/Debug/netcoreapp3.1/Razor/Views/Countries/Details.cshtml.g.cs
WebTestApp/obj/Debug/netcoreapp3.1/Razor/Views/Countries/Delete.cshtml.g.cs
WebTestApp/obj/Debug/netcoreapp3.1/Razor/Views/Countries/Create.cshtml.g.cs
WebTestApp/obj/Debug/netcoreapp3.1/Razor/Views/Addresses/Index.cshtml.g.cs
WebTestApp/obj/Debug/netcoreapp3.1/Razor/Views/Addresses/Edit.cshtml.g.cs
WebTestApp/obj/Debug/netcoreapp3.1/Razor/Views/Addresses/Details.cshtml.g.cs
WebTestApp/obj/Debug/netcoreapp3.1/Razor/Views/Addresses/Delete.cshtml.g.cs
WebTestApp/obj/Debug/netcoreapp3.1/Razor/Views/Addresses/Create.cshtml.g.cs
WebTestApp/obj/Debug/netcoreapp3.1/staticwebassets/WebTestApp.StaticWebAssets.xml
WebTestApp/obj/Debug/netcoreapp3.1/WebTestApp.RazorAssemblyInfo.cache
WebTestApp/obj/Debug/netcoreapp3.1/WebTestApp.MvcApplicationPartsAssemblyInfo.cache
WebTestApp/obj/Debug/netcoreapp3.1/WebTestApp.AssemblyInfoInputs.cache
WebTestApp/obj/Debug/netcoreapp3.1/WebTestApp.AssemblyInfo.cs
WebTestApp/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
WebTestApp/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
WebTestApp/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
